{% load i18n %}
{% load static %}
{% load compress %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}P2PU Badges{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    {% comment %}
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endcomment %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/p2pu-bootstrap.css' %}">
        <link rel="stylesheet" type="text/x-scss"
              href="{% static 'css/sass/badges.scss' %}">

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144"
              href="{% static 'img/apple-touch-icon-144x144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114"
              href="{% static 'img/apple-touch-icon-114x114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72"
              href="{% static 'img/apple-touch-icon-72x72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="57x57"
              href="{% static 'img/apple-touch-icon-57x57-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'img/apple-touch-icon-precomposed.png' %}">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-fileupload.min.css' %}">
    {% endcompress %}
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic" rel="stylesheet"
          type="text/css">

    {% compress js %}
        <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    {% endcompress %}
</head>

<body>

<div class="wrap">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="navbar-btn visible-phone visible-tablet" data-toggle="collapse"
               data-target=".nav-collapse">
                <i class="icon-align-justify"></i>
            </a>

            <a class="brand" href="{% url landing %}"></a>

            <ul class="nav">
                <li>
                    <a class="p2pu-tab" href="#">
                        <i class="icon-chevron-sign-down p2pu-tab-icon"></i>
                    </a>
                </li>
            </ul>


            <div class="nav-collapse collapse mindevices-side-menu">
                <ul class="nav">
                    <li>
                        <a href="{% url about %}"
                           class="{% block about %}{% endblock about %}">

                            {% trans 'About Badges' %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url badge_create %}">
                            {% trans 'Create a Badge' %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url browse_all_badges %}">
                            {% trans 'Browse all Badges' %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url project_review %}">
                            {% trans 'Review a Project' %}
                        </a>
                    </li>
                </ul>

                <div class="pull-right btn-toolbar" style="margin: 0;">
                    <div class="btn-group">
                        {% if request.session.user %}
                            <a class="btn" href="{% url dashboard request.session.user.username %}"
                                    data-toggle="tooltip" title="{% trans 'My dashboard' %}">
                                <img src="{{ request.session.user.image_url }}"
                                     alt="{{ request.session.user.username }}" height="23px"
                                     width="23px"
                                        />
                            </a>
                            <a class="btn" href="{% url oauth_logout %}" data-toggle="tooltip"
                               title="{% trans 'Sign out' %}">
                                <i class="icon-signout"></i>
                            </a>
                        {% else %}
                            <a class="btn" href="{% url oauth_login %}" data-toggle="tooltip"
                               title="{% trans 'Sign in' %}">
                                <i class="icon-signin"></i>
                            </a>
                        {% endif %}
                        <a class="btn dropdown-toggle visible-desktop" data-toggle="dropdown"
                               title="{% trans 'Search' %}">
                            <i class="icon-search"></i>
                        </a>

                        <div class="dropdown-menu">
                            <form class="navbar-search" action="{% url search %}">
                                <input type="text" class="span4 search" name="q" value="{{ q }}"
                                       placeholder="{% trans 'Search for Badges, Projects or people...' %}">
                                <i class="icon-remove-sign clear-search"></i>
                            </form>
                        </div>
                        <a class="btn" href="https://p2pu.org/en/profile/edit/" target="_blank" data-toggle="tooltip"
                               title="{% trans 'My settings' %}">
                            <i class="icon-align-justify"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="messages container">
        {% if messages %}
            {% for message in messages %}
                <div class="container alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% block message %}{% endblock %}
    </div>

    {% block body %}{% endblock %}
</section>

<footer>
    <div class="container">
        <hr>
        <a href="http://backpack.openbadges.org" target="_blank">
            <img alt="We Issue OpenBadges"
                 src="http://openbadges.org/wp-content/uploads/2013/02/OpenBadges_Insignia_WeIssue.png"
                 width="200"
                 height="40">
        </a>
        <a href="https://p2pu.org/en/pages/terms-of-use/" target="_blank">
            <img src="{% static 'img/cc-icons.png' %}" alt="" class="pull-right">
        </a>
    </div>
</footer>
</div>

<script src="{% static 'js/require.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.9.0.min.js"><\/script>')</script>

{% compress js %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        this.CKEDITOR_BASEPATH = "{% static 'js/vendor/ckeditor/' %}";
    </script>
    <script src="{% static 'js/vendor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'js/vendor/ckeditor/config.js' %}"></script>
    <script src="{% static 'js/vendor/ckeditor/styles.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.infinitescroll.js' %}"></script>
    <script src="{% static 'js/vendor/jPanelMenu.js' %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>
{% endcompress %}


<script type="text/javascript"
        src="http://rawgithub.com/ercchy/p2pu_navigation_widget/master/p2pu_menu_slider.js"></script>
{% block js %}{% endblock %}
<script>
    Badges.Splash.init();
</script>



{% if not debug %}
    {% compress js %}
    <script type="text/javascript">
        var _gaq = [
            ['_setAccount', 'UA-5757664-7'],
            ['_trackPageview']
        ];
        (function (d, t) {
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
            g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s)
        }(document, 'script'));
    </script>
    {% endcompress %}
{% endif %}

</body>
</html>
