// Bootstrap
@import "../../libs/p2pu-css-framework/lib/bootstrap";
body{
  margin: 0;
  padding: 0;
  font-family: "arvo", Helvetica, sans-serif;
}

.p2pu-badge{
  display: block;
  overflow: hidden;
  line-height: 22px;
  border: 1px solid #aaa;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.055);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.055);
          box-shadow: 0 1px 3px rgba(0,0,0,.055);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
  padding: 10px 10px 5px;
  position: relative;
  margin-left: 0;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .badge-image{
    text-align: center;
    min-height: 100px;
    display: block;
  }
  .badge-container{
    border-top: 1px dotted $silver;
    .badge-title{
        font-size: 13px;
        font-weight: bold;
    }
    .badge-description{
      font-size: 12px;
      line-height: 18px;
    }
  }
  .pending-projects-container, .badge-controls{
    position: absolute;
    bottom: 5px;
  }
  .pending-projects-title{
    color: $slate;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    line-height: 12px;

  }
  .pending-projects{
    list-style-type: none;
    margin-left: -10px;
    margin-bottom: 0;
    li{
      float: left;
      margin-left: 10px;
      width: 40px;
      height: 40px;
      @include box-shadow(0 1px 4px rgba(0, 105, 214, 0.25));
      &:hover{
        @include box-shadow(0 1px 6px rgba(0, 105, 214, 0.45));
      }
    }
    a{
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
    }
    img{
      height: 100%;
      @include border-radius(4px);
    }
  }

  .badge-description{
    text-align: left;
    color: #515665;
    font-size: 12px;
  }
}




// Add a hover state for linked versions only
.p2pu-badge:hover {
  border-color: #05c6b4;
  -webkit-box-shadow: 0 1px 4px rgba(0,105,214,.25);
     -moz-box-shadow: 0 1px 4px rgba(0,105,214,.25);
          box-shadow: 0 1px 4px rgba(0,105,214,.25);
  cursor: pointer;
}

// Images and captions
.p2pu-badge > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
