{% load i18n %}
{% load projects_tags %}

<div class="badge-details clearfix">
	<a class="badge-info-img span2 text-center" href="
			{% if badge.published %}
          {% url badge_view badge.id %}
      {% else %}
          {% url badge_preview badge.id %}
      {% endif %}">
		<img src="{{ badge.image.url }}" />
	</a>

	<div class="badge-info-horizontal-details">
		<h4 class="badge-info-title">{% trans 'We call this nifty badge' %}:</h4>
		<a class="badge-info-name" href="{% url badge_view badge.id %}">
			<h3>{{ badge.title }}</h3>
		</a>

		<h4 class="badge-info-desc">{% trans 'Description' %}:</h4>

		<p>{{ badge.description }}</p>

		<h4 class="badge-info-horizontal-requirements">{% trans 'Criteria to receive the Badge' %}:</h4>

		<p>{{ badge.requirements|purge_content }}</p>

		{% if experts %}
		<h4 class="badge-info-horizontal-requirements">{% trans 'Experts' %}:</h4>

		<ul class="badge-view-experts unstyled thumbnails">
			{% for expert in experts %}
				<li class="{% ifequal badge.author.username expert.username %}badge-author{% endifequal %}">
					<a href="{% url dashboard expert.username %}">
						<img class="img-rounded"
						     src="{{ expert.image_url }}"
						     alt="{{ expert.username }}"
						     title="{{ expert.username }}" />
					</a>
				</li>
			{% endfor %}
		</ul>
		{% endif %}

	</div>
</div>



