{% load i18n %}

	<div class="clearfix">
		<a class="badge-info-img span2" href="
			{% if badge.published %}
          {% url badge_view badge.id %}
      {% else %}
          {% url badge_preview badge.id %}
      {% endif %}">
			<img src="{{ badge.image.url }}" />
		</a>

		<div class="badge-info-horizontal-details">
			<h4 class="badge-info-title">{% trans 'We call this nifty badge' %}:</h4>
			<a class="badge-info-name" href="{% url badge_view badge.id %}">
				<h3>{{ badge.title }}</h3>
			</a>

			<h4 class="badge-info-desc">{% trans 'Description' %}:</h4>

			<p>{{ badge.description }}</p>

			<h4 class="badge-info-horizontal-requirements">{% trans 'Criteria to receive the Badge' %}:</h4>

			<p>{{ badge.requirements }}</p>

		</div>
	</div>



