{% extends 'badge/badge_info/badge.html' %}
{% load i18n %}
{% load static %}
{% load compress %}

{% block title %}P2PU Badges | Edit{% endblock %}

{% block body %}
	<div class="container">
		<h2>{% trans 'Edit' %} {{ badge.title }}</h2>

		<div class="badge-info">
			{% include 'badge/badge_info/form.html' with editing='True' existing_img=existing_img.url %}
		</div>
	</div>
{% endblock %}

{% block js %}
	{% compress js %}
		<script src="{% static 'js/vendor/parsley.js' %}"></script>
		<script src="{% static 'js/form_validation.js' %}"></script>
		<script src="{% static 'js/vendor/bootstrap-fileupload.min.js' %}"></script>
		<script type="text/javascript">
			Badges.Form.validate('{% url name_search %}');
		</script>
		<script type="text/javascript">
			this.CKEDITOR_BASEPATH = "{% static 'js/vendor/ckeditor/' %}";
		</script>
		<script src="{% static 'js/vendor/ckeditor/ckeditor.js' %}"></script>
		<script src="{% static 'js/vendor/ckeditor/config.js' %}"></script>
		<script src="{% static 'js/vendor/ckeditor/styles.js' %}"></script>
	{% endcompress %}
{% endblock js %}