{% extends 'emails/base.html' %}
{% load i18n %}
{% load projects_tags %}

{% block body %}
<p>
Howdy!
</p>
<p>
Your badge {{ badge.title }} is published, live, and ready-to-go.
</p>
<table>
    <tbody>
        <tr>
            <td>
                <a href="http://badges.p2pu.org{% url badge_view badge.id %}">
                    <img src="http://badges.p2pu.org{{ badge.image.url }}" width="160px"/>
                </a>
            </td>
            <td style="padding-left:20px; text-valign:top;">
                <p>{{ badge.title }}</p>
                <p>{{ badge.description|purge_content }}</p>
                <p>{{ badge.requirements }}</p>
            </td>
        </tr>
    </tbody>
</table>
<p>
Your Badge now exists on badges.p2pu.org and learners can apply for it immediately. As the Badge's creator, this badge will automatically appear on your profile.
</p>
<p>
Tell the world about your spiffy Badge! {% include 'emails/social_buttons.html' %}
</p>

<p>

</p>
<p>
Yours in the future of learning, <br/>
- The P2PU team 
</p>
{% endblock %}
