{% extends 'emails/base.html' %}
{% load i18n %}

{% block body %}
<p>
Howdy!
</p>
<p>
Your badge {{ badge.title }} is published, live, and ready-to-go.
</p>
<table>
    <tbody>
        <tr>
            <td>
                <a href="http://badges.p2pu.org{% url badge_view badge.id %}">
                    <img src="http://badges.p2pu.org{{ badge.image.url }}" width="160px"/>
                </a>
            </td>
            <td style="padding-left:20px; text-valign:top;">
                <p>{{ badge.title }}</p>
                <p>{{ badge.description }}</p>
                <p>{{ badge.requirements }}</p>
            </td>
        </tr>
    </tbody>
</table>
<p>
Your Badge now exists on badges.p2pu.org and learners can apply for it immediately. As the Badge's creator, this badge will automatically appear on your profile.
</p>
<p>
Tell the world about your spiffy Badge! 

<a href="https://plus.google.com/share?url=http://badges.p2pu.org{% url badge_view badge.id %}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="https://www.gstatic.com/images/icons/gplus-64.png" alt="Share on Google+"/></a>

<a href="http://twitter.com/share?url=http://badges.p2pu.org{% url badge_view badge.id %}&text=Check out the spiffy badge I made!&via=p2pu" target="_blank">Tweet</a>

</p>
<p>
Yours in the future of learning, <br/>
- The P2PU team 
</p>
{% endblock %}
