{% extends 'base.html' %}
{% load i18n %}

{% block body %}
<p>
Hullo there,
</p>
<p>
Some time ago, you became a righteous expert with the {{ badge.title }} Badge.
</p>
<p>
Now a few folks are looking for help with similar projects. Mind taking a few minutes to review their work?
</p>
<p>
<ul style="list-style:none;">
{% for project in projects %}   
     <li>
        <img src="{{ project.image.url }}" width="100px" style="clear:left;float:left;margin-right:20px;margin-bottom:20px;"/>
        <a href="{% url project_feedback project.id %}" style="margin-top:25px;float:left;padding:15px;background-color:#A3BE00;color:white;display:inline-block;width:auto; text-align:center;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;text-decoration:none">Give Feedback</a>
    </li>
{% endfor %}
</ul>
</p>
<p style="clear:left;">
Thanks for paying it forward, <br/>
- The P2PU team
</p>
{% endblock %}
