
This is some stuff<span style="padding-left: 15px;">
<a href="https://plus.google.com/share?url=http://badges.p2pu.org{% url badge_view badge.id %}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+" style="vertical-align:middle;"/></a>

<a href="http://twitter.com/share?url=http://badges.p2pu.org{% url badge_view badge.id %}&text=Check out the spiffy badge I made!&via=p2pu" target="_blank"><img src="https://twitter.com/images/resources/twitter-bird-white-on-blue.png" height="32" width="32" style="padding-left:7px; vertical-align:middle;"/></a>
</span>
