{% extends 'base.html' %}

{% block about %}active{% endblock about %}
{% block title %}P2PU Badges | Submit Project{% endblock %}

{% block body %}
    <div class="badges-about container">
        <div class="about-content clearfix">
            <div class="contents-title">Contents</div>
            <ul class="nav nav-list span3">
                <li><a href="#About_Badges">About Badges</a></li>
                <li><a href="#Fast_Facts">Fast Facts</a></li>
                <li><a href="#What_it_Looks_Like_in_Action">What it Looks Like in Action</a></li>
                <li><a href="#Badges_and_P2PU_org">Badges and P2PU.org</a></li>

                <li><a href="#Find_Out_More">Find Out More</a></li>
            </ul>
        </div>

        <div id="About_Badges">
            <h3>About Badges</h3>
            <p>
                At <a href="http://www.p2pu.org/" target="_blank">P2PU</a>, learning is guided by people,
                passion, and projects. We’ve created this Badge platform to spark feedback between
                Experts and Learners about their learning projects. A Badge is symbol of mastery that
                comes out of those conversations. Here you’ll find out how Badges work, and some resources
                to build your own.
            </p>
        </div>
        <div id="Fast_Facts">
            <h3>Fast Facts</h3>
            <ul>
                <li>Badges are a way for Learners to get feedback on their learning projects.</li>
                <li>A "learning project" is an artifact that folks make in their learning experience--it can be
                    a
                    book report, an Arduino project, a presentation or a poem.
                </li>
                <li>On <a href="http://badges.p2pu.org/en/" target="_blank">badges.p2pu.org</a> we have two kinds of community
                    members: Experts and Learners.
                </li>
                <li>An Expert is someone who can award the Badge because they have already achieved it. Only
                    Experts
                    can award Badges, but any Learner can give feedback on any project.
                </li>
                <li>Badges can be shared via Twitter or embedded in any website via iframe. We encourage you to
                    share them!
                </li>
                <li>Our Badges do integrate with the <a href="http://openbadges.org/" target="_blank">Mozilla Open Badges
                    Infrastructure</a>.
                </li>
            </ul>
        </div>
        <div id="What_it_Looks_Like_in_Action">
            <h3>What it Looks Like in Action</h3>
            <p>Christine is enrolled in the <a
                    href="https://p2pu.org/en/courses/49/writing-wikipedia-articles-the-basics-and-beyond/">Writing
                Wikipedia Articles</a> course on <a href="https://p2pu.org/en/" target="_blank">P2PU.org</a>.</p>

            <p>Her learning project is to start a Wikipedia article, improve another Wikipedia article
                demonstrably,
                and make more than 200 edits to Wikipedia.</p>

            <p>In her course, she clicks on the "WikiSOO Burba Badge" in the left column and applies for the
                Badge.</p>

            <p><img src="http://farm4.staticflickr.com/3812/9262630717_50d24e076d_o.png"
                    alt="enter image description here" title=""/></p>

            <p>When she submits her project, she is prompted to walk through the steps she took to accomplish
                the
                task, and to reflect a bit about what she would do differently next time. She clicks "Submit
                Project."</p>

            <p><img src="http://farm6.staticflickr.com/5509/9265525660_6460a2650c_o.png"
                    alt="enter image description here" title=""/></p>

            <p>Peter, an Expert at the SOO Burba Badge (meaning he created it or he has been awarded it already)
                gets a notification that a project has been submitted and looks over Christina's project.</p>

            <p><img src="http://farm6.staticflickr.com/5517/9262750891_c0ea5d188b_o.png"
                    alt="enter image description here" title=""/></p>

            <p>He then gives her qualitative feedback to improve her project in terms of "Kudos" "Questions" and
                "Concerns." </p>

            <p><img src="http://farm3.staticflickr.com/2815/9262751499_ef75bbf592_o.png"
                    alt="enter image description here" title=""/></p>

            <p>Since she has met the requirements to get the Badge, Christina is notified via email that she is
                now
                an Expert. The Badge now appears in her profile, and she can award the Badge to others. She can
                also
                push the Badge to her Mozilla Open Badges Backpack. Huzzah!</p>

            <p><img src="http://farm3.staticflickr.com/2819/9265578464_73f6231f93_o.png"
                    alt="enter image description here" title=""/></p>

        </div>
        <div id="Badges_and_P2PU_org">
            <h3>Badges and P2PU.org</h3>
            <ul>
                <li>It’s easy to take a Badge you create on <a
                        href="http://badges.p2pu.org/en/">badges.p2pu.org</a>
                    and integrate it with your course on <a href="http://www.p2pu.org/" target="_blank">P2PU.org</a>.
                </li>
                <li>Simply create your badge <a href="http://badges.p2pu.org/en/badge/create/" target="_blank">here</a>, publish
                    it,
                    and copy the unique URL for the Badge that appears in the browser.</li>
                        <li>Then revisit your course on <a href="http://www.p2pu.org/" target="_blank">P2PU.org</a>, click on
                            the
                            “Badges and Feedback” tab, and paste in the URL.
                        </li>
                    </ul>
                </li>
                <li>The Badge will appear as a content module, and you can move it around so it appears in the
                    right
                    spot.
                </li>
            </ul>
        </div>
        <div id="Find_Out_More">
            <h3>Find Out More</h3>
            <ul>
                <li>Take our <a href="https://p2pu.org/en/courses/653/p2pu-badge-maker/" target="_blank">Badgemaker P2PU
                    Course</a>
                    to find out more about Badges.
                </li>
                <li>Check out the <a
                        href="http://info.p2pu.org/2013/01/25/its-the-feedback-silly-p2pus-plan-for-badges/">pedagogy
                    behind Badges</a>.
                <li> Our platform is open source--fork it <a
                        href="https://github.com/p2pu/badges">on GitHub</a>.
                </li>
                <li>Follow our progress on our team <a href="https://trello.com/b/nxvdZ6fR/badges" target="_blank">Trello
                    Board</a>.
                </li>
                <li>Leave feedback on Badges at <a href="http://thepeople.p2pu.org/" target="_blank">P2PU Community</a> to find
                    out
                    what crafty experiments we're up to.
                </li>
                <li>Contact <a href="mailto:vanessa@p2pu.org">Vanessa</a>, your friendly Learning Lead.</li>
            </ul>
        </div>

    </div>
{% endblock body %}
