{% load i18n %}
{% load open_badges_tags %}

<li class="p2pu-badge-mini span2" data-next={{ next_page }}>
    <div class="overflow-handle">
        <a class="badge-image-wrap" href="
                {% if badge.published %}
                    {% url badge_view badge.id %}
                {% else %}
                    {% url badge_preview badge.id %}
                {% endif %}">
            <img class="badge-img" src="{{ badge.image.url }}"/>
        </a>

        <div class="badge-container">
            <a href="{% if badge.published %}{% url badge_view badge.id %}
                         {% else %}{% url badge_preview badge.id %}{% endif %}">
                <h5 class="badge-title">{{ badge.title }}</h5>
            </a>
        </div>

    </div>
    <div class="badge-author-wrap">
        <span>
            {% trans 'Author' %}:
        </span>
        <a class="badge-author-link" href="{% url dashboard badge.author.username %}">{{ badge.author.username }}</a>
        <a href="{% url dashboard badge.author.username %}">
            <img class="author-icon pull-right" src="{{ badge.author.image_url }}" alt="{{ badge.author.username }}"/>
        </a>
    </div>
</li>

