{% load i18n %}


<div class="span3 affix-top">
    <label>{% trans label %}&nbsp;</label>
    <div class="badge-info">
        <div class="clearfix">
            <a class="badge-info-vertical-img" href="{% url badge_view badge.id %}">
                <img src="{{ badge.image.url }}"/>
            </a>
            <div class="badge-info-vertical-details">
                <h4 class="badge-info-title">{% trans 'We call this nifty badge' %}:</h4>
                <a class="badge-info-name" href="{% url badge_view badge.id %}">
                    <h3>{{ badge.title }}</h3>
                </a>
                <h4 class="badge-info-requirements">{% trans 'Because folks with this badge can' %}</h4>
                <p>{{ badge.requirements }}</p>

                <h4 class="badge-info-desc">{% trans 'Description' %}:</h4>
                <p>{{ badge.description }}</p>

            </div>

        </div>
    </div>
    <div class="badge-social">
        <div class="pull-left social-item twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="p2pu"
               data-size="large" data-text="Check out the spiffy Badge I made!">Tweet</a>
            <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");</script>
        </div>
        <div class="pull-left social-item google">
            <!-- Place this tag where you want the share button to render. -->
            <div class="g-plus" data-action="share" data-annotation="bubble" data-height="28"></div>

            <!-- Place this tag after the last share tag. -->
            <script type="text/javascript">
                (function () {
                    var po = document.createElement('script');
                    po.type = 'text/javascript';
                    po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(po, s);
                })();
            </script>
        </div>

    </div>
</div>

