{% load i18n %}

<div class="row">
    <div class="span7">
        <div class="badge-info">
            <div class="clearfix">
                <div class="span2 badge-info-img">
                    <img src="{{ badge.image.url }}"/>
                </div>
                <div class="span4 badge-info-details">
                    <h4 class="badge-info-title">{% trans 'We call this nifty badge' %}:</h4>
                    <h3 class="badge-info-name">{{ badge.title }}</h3>
                    <h4 class="badge-info-requirements">{% trans 'Because folks with this badge can' %}</h4>
                    <p>{{ badge.requirements }}</p>

                    <h4 class="badge-info-desc">{% trans 'Description' %}:</h4>
                    <p>{{ badge.description }}</p>

                </div>

            </div>
        </div>
        <div class="badge-social">
            <div class="pull-right social-item google">
                <!-- Place this tag where you want the share button to render. -->
                <div class="g-plus" data-action="share" data-annotation="bubble" data-height="28"></div>

                <!-- Place this tag after the last share tag. -->
                <script type="text/javascript">
                    (function () {
                        var po = document.createElement('script');
                        po.type = 'text/javascript';
                        po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(po, s);
                    })();
                </script>
            </div>
            <div class="pull-right social-item twitter">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="p2pu"
                   data-size="large" data-text="Check out the spiffy badge I made!">Tweet</a>
                <script>!function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");</script>
            </div>
        </div>
    </div>
</div>
