{% load i18n %}

<div class="well">
  <div class="row-fluid">
    <div class="span2">
      <img src="{{ badge.image.url }}">
    </div>
    <div class="span10">
      <h3>{{ badge.title }}</h3>
      <dl>
        <dt>{% trans 'Description' %}<dt>
        <dd>{{ badge.description }}</dd>
        <dt>{% trans 'Requirements' %}</dt>
        <dd>{{ badge.requirements }}</dd>
      </dl>
      <a href="{% url badge_view badge.id %}" class="pull-right" >{% trans 'see more' %}</a>
    </div>
  </div>
</div>

