{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}P2PU Badges | Create{% endblock %}


{% block js %}
    <script src="{% static 'js/vendor/parsley.js' %}"></script>
    <script src="{% static 'js/form_validation.js' %}"></script>
    <script type="text/javascript">
        Badges.Form.validate();
    </script>
{% endblock js %}

{% block body %}
    <div class="container">
        <h2>{% trans 'Create a Badge' %}</h2>

        <div class="badge-create-intro">
            {% blocktrans %}
                Here you can create a Badge to recognize the skills mastered in
                creative projects.
            {% endblocktrans %}
            <br>
            {% blocktrans %}
                First, design what you'd like your Badge to look like.
                Next, describe what the Badge is for.
                Then, list criteria a project would need to meet in order to get the Badge.
                Hit "Save and preview Badge" and you'll get to see it in all it's glory!
            {% endblocktrans %}

        </div>
        <form id="badge-create-form" method="post" enctype="multipart/form-data" data-validate="parsley">
            {% if user_is_partner %}
                {% crispy form form.with_partner %}
            {% else %}
                {% crispy form form.without_partner %}
            {% endif %}
        </form>
    </div>
{% endblock %}
