{% extends 'base.html' %}
{% load i18n %}

{% block body %}
  <div>
    <h2>{% trans 'Create a Badge' %}</h2>
  </div>
  <div>
    <p>
      {% blocktrans %}Here you can create a badge to regocnize the skills mastered in creative projects. First, design what you'd like your badge to look like. Next, describe what the badge is for. Then, list the criteria a project would need to meet in order to get the badges. Hit "Save and Preview Badge" and you'll get to see it in all it's glory!{% endblocktrans %}
    </p>
    {% include 'badge/form_snippet.html' %}
  </div>

{% endblock %}
