{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}P2PU Badges | Edit{% endblock %}

{% block body %}
    <div class="container">
        <h2>{% blocktrans with badge_title=badge.title %}Edit {{badge_title}}{% endblocktrans %}</h2>
        <form id="badge-create-form" method="post" enctype="multipart/form-data">
            {% if user_is_partner %}
                {% crispy form form.with_partner %}
            {% else %}
                {% crispy form form.without_partner %}
            {% endif %}
        </form>
    </div>
{% endblock %}
