{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load compress %}

{% block title %}P2PU Badges | Edit{% endblock %}

{% block js %}
    {% compress js %}
    <script src="{% static 'js/vendor/bootstrap-fileupload.min.js' %}"></script>
    {% endcompress %}
{% endblock js %}

{% block body %}
    <div class="container">
        <h2>{% blocktrans with badge_title=badge.title %}Edit {{badge_title}}{% endblocktrans %}</h2>
        <form id="badge-create-form" method="post" enctype="multipart/form-data">
            <label for="image_uri">{{ form.fields.image_uri.widget.attrs.title }}</label>
            <div class="fileupload fileupload-exists" data-provides="fileupload">
                <div class="fileupload-new thumbnail">
                    <img src="http://www.placehold.it/128x128/EFEFEF/AAAAAA&text=no+image" />
                </div>
                <div class="fileupload-preview fileupload-exists thumbnail" style="width: 128px; height: 128px;"><img
                        src="{{ existing_img.url }}"/></div>
                <div>
                <span class="btn btn-file"><span class="fileupload-new">Select image</span><span
                        class="fileupload-exists">Change</span>
                    <input data-required="true" name="image_uri" title="Select a spiffy icon for your Badge"
                           type="file" class="fileinput fileUpload parsley-validated" id="id_image_uri">
                </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
                <div class="help-text"></div>
            </div>
            {% if user_is_partner %}
                {% crispy form form.with_partner %}
            {% else %}
                {% crispy form form.without_partner %}
            {% endif %}
        </form>
    </div>
{% endblock %}
