{% load i18n %}

<form action="" method="POST" enctype="multipart/form-data">
  <fieldset>
    {% csrf_token %}

    <div class="control-group {% if form.errors.image %}error{% endif %}">   
      <label>{% trans 'Choose an image to begin:' %}</label>
      <input name="image" type="file" required accept="image/*" />
      {% for error in form.errors.image %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="control-group {% if form.errors.title %}error{% endif %}">   
      <label>{% trans 'Badge Title:' %}</label>
      <input name="title" type="text" class="span7" placeholder="{% trans "What's your badge's headline?" %}" {% if form.title.value %}value="{{form.title.value}}"{% endif %} required maxlength="128">
      {% for error in form.errors.title %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="control-group {% if form.errors.description %}error{% endif %}">   
      <label>{% trans 'Badge Description:' %}</label>
      <textarea name="description" rows="3" class="span7" placeholder="{% trans 'What is this badge for? A course? An event? A certain type of project?' %}" required  maxlength="128">{% if form.description.value %}{{form.description.value}}{% endif %}</textarea>
      {% for error in form.errors.description %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
     
    <div class="control-group {% if form.errors.requirements %}error{% endif %}">   
      <label>{% trans 'Badge Criteria:' %}</label>
      <textarea name="requirements" rows="6" class="span7" placeholder="{% blocktrans %}List the specific skill folks need to show they've mastered with their project? It's useful to step them out so experts can identify them.{%endblocktrans%}" required >{% if form.requirements.value %}{{form.requirements.value}}{% endif %}</textarea>
      {% for error in form.errors.requirements %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-large">{% trans 'Save and preview your badge' %}</button>
  </fieldset>
</form>

