{% load i18n %}
{% if mode == 'editing' %}
    <div class="control-group">
        <label>{% trans 'Choose an image to begin:' %}</label>
        <input name="image" type="file" accept="image/*" id="upload-bage-img"/>
        <span class="help-block">
            If you are satisfied with the image you uploaded previously than leave this field blank</span>
    </div>
{% else %}
    <div class="control-group {% if form.errors.image %}error{% endif %}">
        <label>{% trans 'Choose an image to begin:' %}</label>
        <input name="image" type="file" {% if mode != 'editing' %}required{% endif %} accept="image/*" id="upload-bage-img"/>
        {% if mode != "editing" %}
            {% for error in form.errors.image %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
{% endif %}