{% extends 'base.html' %}
{% load i18n %}

{% block body %}
<div class="container">
    <div class="preview-badge">
        <h2>Preview badge</h2>
        <p>This is how your badge will look once published</p>
        <div class="well span10">
            <div class="row">
                <div class="thumbnail span2 p2pu-badge">
                    <h4>{{badge.title}}</h4>
                    <img src="{{ badge.image.url }}"/>
                </div>

                <div class="span7">

                    <p>{{badge.description}}</p>
                    <h3>Badge requirements</h3>
                    <p>{{badge.requirements}}</p>
                </div>
            </div>
        </div>
        <div class="preview-control">
            <a href="{% url badge_edit badge.id %}" class="btn">{% trans 'Edit' %}</a>
            <a href="{% url badge_publish badge.id %}" class="btn btn-cyan">{% trans 'Publish' %}</a>
        </div>
    </div>


</div>

{% endblock %}
