{% extends 'base.html' %}
{% load i18n %}

{% block body %}

  <div class="row-fluid">
    <h2>Preview badge</h2>
    <p>This is how your badge will look once published</p>
    <div class="well span10">
      <div class="row-fluid">
        <div class="span3">
          <img src="{{badge.image.url}}"/>
        </div>
        <div class="span7">
          <h3>{{badge.title}}</h3>
          <p>{{badge.description}}</p>
          <h3>Badge requirements</h3>
          <p>{{badge.requirements}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <a href="{% url badge_edit badge_id %}" class=btn>{% trans 'Edit' %}</a>
    <a href="{% url badge_publish badge_id %}" class=btn>{% trans 'Publish' %}</a>
  </div>


{% endblock %}
