{% extends 'base.html' %}
{% load i18n %}

{% block title %}P2PU Badges | Preview{% endblock %}

{% block body %}
    <div class="container badge-preview-publish">
        <div class="row">
            <h2>{% trans 'Preview Your Masterpiece' %}</h2>
        </div>
        {% include 'badge/badge_info_horizontal.html' with preview='True' %}
        {% if request.session.user and request.session.user.uri == badge.author_uri %}
            <div class="row">
                <div class="alert preview-box">
                <p class="lead">
                    {% blocktrans %}
                        Are you ready to publish your Badge?
                        You won’t be able to edit it later.
                        You might want to double-check:
                    {% endblocktrans %}
                </p>
                <ul>
                    <li>{% trans 'Spelling mistakes or missing digits' %}?</li>
                    <li>{% trans 'Are all criteria present and accurate? ' %}</li>
                    <li>{% trans 'Is your image clear, crisp and well-placed?' %}</li>
                </ul>
                <form action="{% url badge_publish badge.id %}" method="POST">
                    {% csrf_token %}
                    <div class="publish-controlls">
                        <a class="btn" href="{% url badge_edit badge.id %}">
                            {% trans 'Edit Badge' %}
                        </a>
                        <a class="btn" href="{% url dashboard request.session.user.username %}">
                            {% trans 'Save & Return Later' %}
                        </a>
                        <button class="btn btn-primary">
                            {% trans 'Publish this Sucker' %}
                        </button>

                    </div>
                </form>
            </div>
            </div>
        {% endif %}


    </div>

{% endblock %}
