{% extends 'base.html' %}
{% load i18n %}

{% block title %}P2PU Badges | View{% endblock %}

{% block body %}

    <div class="container">
        <div class="clearfix badge-view-badges">
            <h2>{% trans 'Badge' %}</h2>

            {% include 'badge/badge_info_horizontal.html' with view='True' %}

        </div>

        {% if not user_is_expert %}

            <div>
                <h4>{% trans 'Want this Badge? Submit a project and get some feedback' %}.</h4>
                <a href="{% url project_create badge.id %}" class="btn btn-cyan btn-large">
                    {% trans 'Submit a project for this Badge' %}
                </a>
            </div>
        {% endif %}

        {% if projects %}
        <hr>
        <div class="clearfix badge-view-projects">
            <h3>{% trans 'Want to see what kind of projects have received this Badge' %}?</h3>
            <ul class="p2pu-project-list fit-thumbnails">
                {% for project in projects %}
                    {% include 'project/project_tile.html' %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if experts %}
        <hr>
        <div class="clearfix badge-view-experts">
            <h3>{% trans 'Experts' %}</h3>
            <ul class="thumbnails">
                {% for expert in experts %}
                    {% include 'p2pu_user/user_tile.html' with user=expert %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}
