{% extends 'base.html' %}
{% load i18n %}

{% block body %}
  <div>
    <h2>All About Badges</h2>

    <p>At P2PU, badges are a form of feedback that learners give to each other to iterate and improve
    their projects. On badges.p2pu.org, you can create a badge, submit work for a badge, or, if you
    are an “expert” and already possess the badge, award it to someone else. Find out more....</p>
  </div>
  <div>
    <h2>Got Expertise? Apply for a Spiffy Badge.</h2>
    <ul class="thumbnails">
      {% for badge in badges %}
        <li class="span2">
          <div class="thumbnail">
            <img src="http://placehold.it/100x100"/>
            <h3><a href="badge.html">{{badge.title}}</a></h3>
          </div>
        </li>
      {% endfor %}

    </ul>
    <p><a href="create-badge.html" class="btn">Create a new badge</a></p>
  </div>

  <div>
    <h2>Roll Call: Meet the Learners.</h2>
    <ul class="thumbnails">
      <li class="span2">
        <a href="person.html" class="thumbnail">
          <img src="http://placehold.it/100x100" alt="Bob"/>
        </a>
      </li>
      <li class="span2">
        <a href="person.html" class="thumbnail">
          <img src="http://placehold.it/100x100" alt="Bob"/>
        </a>
      </li>
      <li class="span2">
        <a href="person.html" class="thumbnail">
          <img src="http://placehold.it/100x100" alt="Bob"/>
        </a>
      </li>
      <li class="span2">
        <a href="person.html" class="thumbnail">
          <img src="http://placehold.it/100x100" alt="Bob"/>
        </a>
      </li>
     </li>
       <li class="span2">
        <a href="person.html" class="thumbnail">
          <img src="http://placehold.it/100x100" alt="Bob"/>
        </a>
      </li>
      </li>
      <li class="span2">
        <a href="person.html" class="thumbnail">
          <img src="http://placehold.it/100x100" alt="Bob"/>
        </a>
      </li>
    </ul>
    <p><a class="btn">See more!</a></p>
  </div>
  <div>
    <h2>Projects in the Community.</h2>
    <ul class="thumbnails">
      <li class="span3">
        <div class="thumbnail">
          <a href="project.html">
            <img src="http://placehold.it/200x100"/>
          </a>
          <h3><a href="project.html">Robots in Love</a></h3>
          <p>by Bob Jane<p>
          <p>Create a movie with an iphone and a rocket!</p>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <a href="project.html">
            <img src="http://placehold.it/200x100"/>
          </a>
          <h3><a href="project.html">Perfect bow.</a></h3>
          <p>by Bob Jane<p>
          <p>Create a movie with an iphone and a rocket!</p>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <a href="project.html">
            <img src="http://placehold.it/200x100"/>
          </a>
          <h3><a href="project.html">Homemade rocket.</a></h3>
          <p>by Bob Jane<p>
          <p>Create a movie with an iphone and a rocket!</p>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <a href="project.html">
            <img src="http://placehold.it/200x100"/>
          </a>
          <h3><a href="project.html">Shaping a board.</a></h3>
          <p>by Bob Jane<p>
          <p>Create a movie with an iphone and a rocket!</p>
        </div>
      </li>
    </ul>
    <p><a class="btn">See more</a></p>
  </div>

{% endblock %}
