{% extends 'base.html' %}
{% load i18n %}

{% block site-section %}landing{% endblock site-section %}

{% block body %}
<section class="container">
        <div class="badges-landing-unit">
            <h2>Get <span class="highlight-1">Feedback</span>
                on a <span class="highlight-2">Project</span> You Love.
            </h2>
            <div class="clearfix">
                <div class="row">
                    <div class="span7 first-element">

                        <p>
                            At <a href="https://p2pu.org/en/">Peer 2 Peer University</a>,
                            Badges are a form of feedback that learners give to each other
                            in order to improve their projects.
                        </p>
                        <p>
                            Here you can create a Badge, submit a Project for a Badge, or, if you are an
                            "Expert" and already possess the Badge, award it to someone else.
                        </p>
                        <p>
                            <a href="http://info.p2pu.org/">
                                Find out more....
                            </a>
                        </p>
                    </div>
                    <div class="span4 buletin-feature pull-right">
                        <h1>
                            <a href="{% url badge_create %}" class="">{% trans 'Create a Badge' %}</a>
                        </h1>
                    </div>
                </div>
            </div>

            <div class="first-element">
                <div class="featured-badges">
                    <h1>Featured Badges</h1>
                    <ul class="thumbnails">
                        {% for badge in badges|slice:'5' %}
                            {% include 'badge/badge_tile.html' %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    <div class="tab-section">
        <div class="row-fluid">
            <div class="span12">
                <ul id="landing-tabs" class="nav nav-tabs">
                    <li class="active">
                        <a href="#learners-tab" data-toggle="tab">
                            <h3>Meet the Learners</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#projects-tab" data-toggle="tab">
                            <h3>Projects in the Community</h3>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="learners-tab">
                        <div class="row">
                            <ul class="thumbnails">
                              {% for user in users %}
                                <li>
                                    <a href="{% url dashboard user.username %}" class="avatar">
                                        <img src="{{ user.image_url }}" alt="{{ user.username }}"/>
                                    </a>
                                </li>
                              {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="projects-tab">
                        <ul class="thumbnails">
                            {% for project in projects %}
                                <li class="span3">
                                    <div class="thumbnail p2pu-project">
                                        <a href="{% url project_view project.id %}">
                                            <img src="{{ project.image.url }}"/>
                                        </a>
                                        <h3><a href="{% url project_view project.id %}">{{ project.title }}</a></h3>
                                        <p>{% blocktrans with username=project.author.username %}by {{ username }}{% endblocktrans %}<p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
