{% extends 'base.html' %}
{% load i18n %}

{% block landing %}active{% endblock landing %}
{% block site-section %}landing{% endblock site-section %}

{% block body %}
<section class="container">


        <div class="row-fluid badges-landing-unit">
            <h2>It's <span class="highlight-1">all</span> about
                <span class="highlight-2">Badges</span>
            </h2>
            <div class="clearfix">
                <div class="span7 first-element">

                    <p>
                        At P2PU, badges are a form of feedback that learners give to each other to iterate and improve
                        their projects.
                    </p>
                    <p>
                        On badges.p2pu.org, you can create a badge, submit work for a badge, or, if you
                        are an “expert” and already possess the badge, award it to someone else.
                    </p>
                    <p>
                       Find out more....
                    </p>
                </div>
                <div class="span4 buletin-feature pull-right">
                    <h1>
                        <a href="{% url badge_create %}" class="">{% trans 'Create Badge' %}</a>
                    </h1>
                </div>
            </div>

            <div class="first-element">
                <div class="featured-badges">
                    <h1>Featured Badges</h1>
                    <ul class="thumbnails">
                        {% for badge in badges|slice:'5' %}
                            {% include 'badge/badge_tile.html' %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    <div class="tab-section">
        <div class="row-fluid">
            <div class="span12">
                <ul id="landing-tabs" class="nav nav-tabs">
                    <li class="active">
                        <a href="#learners-tab" data-toggle="tab">
                            <h3>Meet the Learners</h3>
                        </a>

                    </li>
                    <li>
                        <a href="#projects-tab" data-toggle="tab">
                            <h3>Projects in the Community</h3>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="learners-tab">
                        <h2>Roll Call: Meet the Learners.</h2>
                        <ul class="thumbnails">
                          {% for user in users %}
                            <li class="span2">
                                <a href="{% url dashboard user.username %}" class="thumbnail">
                                    <img src="{{ user.image_url }}" alt="{{ user.username }}"/>
                                </a>
                            </li>
                          {% endfor %}
                        </ul>
                        <p><a class="btn btn-cyan btn-large">See more!</a></p>
                    </div>
                    <div class="tab-pane" id="projects-tab">
                        <h2>Projects in the Community.</h2>
                        <ul class="thumbnails">
                            {% for project in projects %}
                                <li class="span3">
                                    <div class="thumbnail p2pu-project">
                                        <a href="{% url project_view project.id %}">
                                            <img src="{{ project.image.url }}"/>
                                        </a>
                                        <h3><a href="{% url project_view project.id %}">{{ project.title }}</a></h3>
                                        <p>{% blocktrans with username=project.author.username %}by {{ username }}{% endblocktrans %}<p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <p><a class="btn btn-cyan btn-large">See more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
