{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load compress %}

{% block title %}P2PU Badges | Submit Project{% endblock %}

{% block body %}

	<div class="container">
		<div>
			<h2>
				{% blocktrans with badge_title=badge.title %}
					Submit Project
					.{% endblocktrans %}
			</h2>

			<div class="row">
				{% include 'badge/badge_info_vertical.html' with label='Badge you are trying for' %}
				<form id="project-create-form" class="span9" method="post" enctype="multipart/form-data">
					<label for="image_uri">{{ form.fields.image.widget.attrs.title }}</label>

					<div class="fileupload fileupload-new" data-provides="fileupload">
						<div class="fileupload-new thumbnail">
							<img src="http://www.placehold.it/128x128/EFEFEF/AAAAAA&text=no+image" />
						</div>
						<div class="fileupload-preview fileupload-exists thumbnail"
						     style="max-width: 128px; max-height: 128px; line-height: 20px;">
						</div>
						<div id="div_id_image_uri" class="control-group">
							<div class="controls">
                        <span class="btn btn-file">
                            <span class="fileupload-new">Select image</span>
                            <span class="fileupload-exists">Change</span>
                            <input id="id_image" type="file" class="fileinput"
                                   name="image" title="Upload a screenshot of your glorious creation.">
                        </span>
								<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
							</div>
						</div>
					</div>
					{% crispy form form.create_project %}
				</form>
			</div>
		</div>
	</div>

{% endblock %}

{% block js %}
	{% compress js %}
		<script src="{% static 'js/vendor/bootstrap-fileupload.min.js' %}"></script>
		<script type="text/javascript">
			this.CKEDITOR_BASEPATH = "{% static 'js/vendor/ckeditor/' %}";
		</script>
		<script src="{% static 'js/vendor/ckeditor/ckeditor.js' %}"></script>
		<script src="{% static 'js/vendor/ckeditor/config.js' %}"></script>
		<script src="{% static 'js/vendor/ckeditor/styles.js' %}"></script>
	{% endcompress %}
{% endblock js %}
