{% load i18n %}

<form action="" method="POST" enctype="multipart/form-data">
  <fieldset>
    <legend></legend>

    {% csrf_token %}

    <div class="control-group {% if form.errors.title %}error{% endif %}">
      <label>{% trans 'Title' %}</label>
      <input type="text" class="span4" placeholder="{% trans 'Project title?' %}">
      {% for error in form.errors.title %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="control-group {% if form.errors.url %}error{% endif %}">
      <label>{% trans 'Url' %}</label>
      <input type="url" class="span4" placeholder="{% trans 'Project URL?' %}">
      {% for error in form.errors.url %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="control-group {% if form.errors.steps %}error{% endif %}">
      <label>{% trans 'Steps taken' %}</label>
      <textarea rows="4" class="span4" placeholder="{% trans 'What steps did you take to complete this task?' %}"></textarea>
      {% for error in form.errors.steps %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="control-group {% if form.errors.reflection %}error{% endif %}">
      <label>{% trans 'Reflection' %}</label>
      <textarea rows="4" class="span4" placeholder="{% trans 'What would you do differently next time?' %}"></textarea>
      {% for error in form.errors.reflection %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="control-group {% if form.errors.image %}error{% endif %}">
      <label>{% trans 'Cover image' %}</label>
      <input type="file" class="span4">
      <span class="help-block">{% trans 'Upload a screenshot.' %}</span>
      {% for error in form.errors.image %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="control-group {% if form.errors.tags %}error{% endif %}">
      <label>{% trans 'Tags' %}</label>
      <input type="text" class="span4" placeholder="{% trans 'Tags associated with project.' %}">
      {% for error in form.errors.tags %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>

    <button type="submit" class="btn">{% trans 'Create project' %}</button>
  </fieldset>
</form>

