{% load i18n %}
{% load projects_tags %}
{% with username=project.author.username %}
<li>
    <div class="p2pu-project clearfix">
        <a class="p2pu-project-img-link" href="{% url project_view project.id %}">
            <img src="{{ project.image.url }}"/>
        </a>
        <div class="p2pu-project-info-field">
            <a class="p2pu-project-title" href="{% url project_view project.id %}">{{ project.title }}</a>
            <div class="p2pu-project-desc">
                {{ project.description|purge_content|truncatewords:20 }}
            </div>
            <div class="p2pu-project-link">
                <a href="{{ project.work_url }}">{{ project.work_url }}</a>
            </div>
            <a href="{% url dashboard username %}" class="p2pu-project-submitter">
                {% blocktrans %}by {{ username }}{% endblocktrans %}
            </a>
        </div>
    </div>
</li>
{% endwith %}
