{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}

{% block body %}

  <div class="row">
    <div class="span12">
      <ul class="thumbnails">
        {% for project in projects %}    
          <li class="span3">
            <div class="thumbnail">
              <a href="{% url project_view project.id %}">
                <img src="{{ project.image.url }}"/>
              </a>
              <h3><a href="{% url project_view project.id %}">{{ project.title }}</a></h3>
              <p>{% blocktrans with username=project.author.username %}by {{username}}{% endblocktrans %}<p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>


{% endblock %}
