{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load compress %}
{% load crispy_forms_tags %}

{% block title %}P2PU Badges | Revise Project{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <h2>Revise Project</h2>
        </div>
        <div class="row">
            {% include 'badge/badge_info_vertical.html' with label='Revision for the Badge:' %}
            {% crispy form form.revise_feedback %}
        </div>
    </div>
{% endblock %}

{% block js %}
	{% compress js %}
		<script type="text/javascript">
			this.CKEDITOR_BASEPATH = "{% static 'js/vendor/ckeditor/' %}";
		</script>
		<script src="{% static 'js/vendor/ckeditor/ckeditor.js' %}"></script>
		<script src="{% static 'js/vendor/ckeditor/config.js' %}"></script>
		<script src="{% static 'js/vendor/ckeditor/styles.js' %}"></script>
	{% endcompress %}
{% endblock js %}
