{% extends 'base.html' %}
{% load i18n %}

{% block title %}P2PU Badges | Revise Project{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <h2>Revise Project</h2>
        </div>
        <div>
            <form action="" method="POST" class="span7">
                <fieldset>
                    {% csrf_token %}

                    <div class="control-group {% if form.errors.improvement %}error{% endif %}">
                        <label>{% trans 'Improvements made' %}</label>
                        <textarea rows="5" name="improvement" class="ckeditor span8"
                                  placeholder="{% trans 'What changes have you made to the project?' %}"
                                  {% if form.improvement.value %}value="{{ form.improvement.value }}"{% endif %}
                                  ></textarea>
                        {% for error in form.errors.improvement %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="control-group {% if form.errors.work_url %}error{% endif %}">
                        <label>{% trans 'New work URL (optional)' %}</label>
                        <input type="url" name="work_url" class="span8"
                               placeholder="{% trans 'What is good about the project?' %}"
                               {% if form.work_url.value %}value="{{ form.work_url.value }}"{% endif %}>
                        {% for error in form.errors.work_url %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <button type="submit" class="btn btn-cyan btn-large">{% trans 'Submit feedback' %}</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
