.badges-about{
  padding: 25px;
  position: relative;

  .about-content{
    float: left;
    margin-right: 20px;
    .contents-title{
      font-weight: bold;
      margin-left: 15px;
    }
    font-size: 0.8em;
    ul{
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
      border: 1px solid $silverUltraLight;
      padding-bottom: 2px;
      background-color: $white;
      @include border-radius(6px);
      li{
        a{
          display: block;
          margin: 0 0 -1px;
        }
        &:first-child{
          a{

          }
        }
      }
    }
  }
  .content-body{
    overflow: hidden;
  }
  img{
    margin: 15px auto;
  }
  .about-faqs, .about-more{
    margin-top: 25px;
  }
  .about-anchor{
    &:hover{
      text-decoration: none;
    }
  }
}
