.badge-info{
  position: relative;
  background: white;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2em 1.5em;
  color: rgba(0,0,0, .8);
  text-shadow: 0 1px 0 #fff;
  line-height: 1.5;

}
.badge-info:before, .badge-info:after{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.badge-info:after{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.p2pu-badge{
  text-align: center;
  padding: 10px 10px 5px;
  min-height: 212px;
  position: relative;
  margin-left: 0;
  @include gradient-vertical-three-colors($startColor: $white, $midColor: $white, $colorStop: 85%, $endColor: $silverLight );
  @extend .thumbnail;
  h4{
    text-align: center;
    border-bottom: 1px dotted $silver;
    color: $cyan;
    min-height: 50px;
  }
  img{
    margin-bottom: 10px;
    max-height: 112px;
  }
  a{

    display: block;
    &:hover{
      h4{
        color: $clemintine;
      }
    }
  }
  &:hover{
    text-decoration: none;
    border-color: $cyan;
    @include box-shadow(0 1px 4px rgba(0, 105, 214, 0.25));
  }
  .badge-draft{
    position: absolute;
    z-index: 99;
    left: 0;
    bottom: -20px;
  }
}
.badge-info-title{
  margin-top: 0;
}
.badge-social{
  margin-top: 1em;

}