
#upload-bage-img{

}
.badge-create-intro{
  border-bottom: 1px dotted $silverUltraLight;
  padding-bottom: 15px;
  line-height: 1.5em;
  margin-bottom: 15px;
}
.preview-badge{
  .well{
    float: none;
  }
}

.badge-view-projects, .badge-view-experts{

}

.badge-preview-publish{
  .alert{
    a.btn{
      border-bottom: inherit;
    }
  }
}

.preview-box{
  margin-top: -20px;
  form{
    margin-bottom: 10px;
  }
}

/******Form char check with parsley*********/
.control-group {
  &.success{
    .control-label{
      color: #468847;
    }
    input, textarea{
      color: #468847;
      border-color: #468847;
      &:focus{
        border-color: rgba(82, 168, 236, 0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      }
    }
  }
  &.error{
    .help-inline {
      ul{
        list-style: none;
      }
    }
  }
}
