


.p2pu-badge{
  text-align: center;
  padding: 10px 10px 5px;
  @include gradient-vertical-three-colors($startColor: $white, $midColor: $white, $colorStop: 85%, $endColor: $silverLight );
  @include makeColumn(2.5);
  @extend .thumbnail;
  h4{
    text-align: center;
    border-bottom: 1px dotted $silver;
    color: $cyan;
  }
  img{
    margin-bottom: 10px;
  }
  a{
    &:hover{
      h4{
        color: $clemintine;
      }
      text-decoration: none;
    }
  }
}