
#upload-bage-img{

}

.preview-badge{
  .well{
    margin-left: 0;
    float: none;
  }
}
.badge-view-projects{

}
.badge-view-projects, .badge-view-experts{
  margin-top: 60px;
  border-top: 1px solid $silver;
  ul{
    margin-left: -10px;
  }
}
