
#upload-bage-img{

}

.preview-badge{
  .well{
    float: none;
  }
}

.badge-view-projects, .badge-view-experts{
  margin-top: 60px;
  ul{
    margin-left: -10px;
  }
}

.badge-preview-publish{
  .alert{
    a.btn{
      border-bottom: inherit;
    }
  }
}

