
#upload-bage-img{

}
.badge-create-intro{
  border-bottom: 1px dotted $silverUltraLight;
  padding-bottom: 15px;
  line-height: 1.5em;
  margin-bottom: 15px;
}
.preview-badge{
  .well{
    float: none;
  }
}

.badge-view-projects, .badge-view-experts{
  //margin-top: 60px;
  ul{
    margin-left: -10px;
  }
}

.badge-preview-publish{
  .alert{
    a.btn{
      border-bottom: inherit;
    }
  }
}

