body {
  margin: 0;
  padding-top: 60px;
  font-size: 16px;
  line-height: 22px;
  color: $slate;
  font-family: "sense", Helvetica, sans-serif;
}
input, select, textarea, button, dl, dt, dd, label{
  font-family: "sense", Helvetica, sans-serif;
}
h1, h2, h3, h4{
  font-family: "arvo", Helvetica, sans-serif;
  text-shadow: 0 1px 0 #fff;
}
legend{
  font-size: 1em;
  line-height: 1.5em;
}
body{
  //background: url("/static/img/natural_paper.png") left top repeat;
}
p{
  word-wrap: break-word;
}
.navbar{
  margin-bottom: 0;
}

.row [class^="span"]{
  &.first-element{
    //margin-left: 0;
  }
}

.well{
  .p2pu-badge{
    margin-top: 10px;
  }
}
.upload-image-icon{
  font-size: 1.4em;
  margin-right: 5px;
}
footer{
  margin: 1em 0;
}

.nav-tabs{
  margin-bottom: 0px;
  & > .active {
    & a{
      background-color: $white;
      @include box-shadow(0 -1px 3px rgba(0, 0, 0, 0.055));
      &:hover{
        background-color: $white;
      }
    }
  }

}

.tab-content{
  background-color: $white;
  border-bottom: 2px solid $silver;
  border-left: 1px solid $silver;
  border-right: 1px solid $silver;
  padding: 12px 12px 12px 12px;
  margin-bottom: 20px;
}
blockquote{
  margin: 0;
  p{
    border-left: lightgray 5px solid;
    margin: 5px 0;
    padding-left: 5px;
    font-size: 0.9em;
    font-style: italic;
  }
}

.pager {
  li {
    &> a, &> span{
      @include border-radius(5px);
    }
  }
  .next, .previous{
    &> a, &> span{
      float: none;
    }
  }
}
