.hero-unit{
  padding-bottom: 120px;
  h2{

  }
  .highlight-1{
    color: $cyan;
    text-transform: uppercase;
  }
  .highlight-2{
    color: $clemintine;
    text-transform: uppercase;
  }

  .thumbnails{
    li{
      -webkit-perspective: 500;
      -webkit-transform-style: preserve-3d;
      -webkit-transition-property: perspective;
      -webkit-transition-duration: 0.5s;
      cursor: pointer;
      &:hover{
        -webkit-perspective: 5000;
        .thumbnail{
          height: 100%;
          h3{
            bottom: -80px;
          }
        }

      }
      .thumbnail{
        background-color: $white;
        position: relative;
        h3{
          position: absolute;
          font-size: 1em;
          border: 10px solid #fcfafa;
          padding: 10px;
          background-color: #deddcd;
          line-height: 20px;
          margin-top: -50px;
          height: 50px;
          margin-bottom: 0;
          @include border-radius(10px);
          text-align: center;
          bottom: -30px;
          left: 0;
          width: 128px;
          transition: bottom 2s linear;
        }
      }
    }
  }
}

.tab-section{
  margin-top: -113px;
  .nav-tabs{
    & > .active {
      & a{
        background-color: $white;
        @include box-shadow(0 -1px 3px rgba(0, 0, 0, 0.055));
      }
    }
  }
}
#learners-tab{
  .thumbnails{

  }
}