.badges-landing-unit{
  padding-bottom: 60px;
  margin-top: 60px;
  h2{
    font-family: "arvo", Helvetica, sans-serif;
  }
  .highlight-1{
    color: $cyan;
    text-transform: uppercase;
  }
  .highlight-2{
    color: $clemintine;
    text-transform: uppercase;
  }
  .buletin-feature{
    margin-bottom: 0;
    padding-bottom: 1em;
    background-color: #fcfcfc;
    @include border-radius(0);
    padding-top: 0.9375em;
    border-bottom: 2px solid $metal;
    h1{
      @include border-radius(3px);
      margin: 0 0.625em;
      font-family: "arvo" Helvetica san-serif;
      font-size: 1.5em;
      line-height: 1.83333em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      letter-spacing: normal;
      background: #ff7300;
      border-bottom: 2px solid #bc5500;
      text-align: center;
      vertical-align: middle;
      a{
        color: $white;
      }


    }
  }

  .featured-badges{
    margin-top: 60px;
    h1{
     font-family: "arvo" helvetica san-serif;
      font-size: 1.5em;
      margin-top: 2.41667em;
      margin-bottom: 15px;
    }
  }

  .thumbnails{
    li{
      position: relative;
      z-index: 0;
      margin-left: 0;
        img{
          height: 112px;
        }
      & + li{
        margin-left: 20px;
      }
      &:hover{
        z-index: 999;
      }
    }
  }
}

.tab-section{

  .nav-tabs{
    margin-bottom: 0;
    & > .active {
      & a{
        background-color: $white;
        @include box-shadow(0 -1px 3px rgba(0, 0, 0, 0.055));
        h3{
          color: $slate;
        }
      }
    }
    a{
      h3{
        margin: 0;
        line-height: 22px;
        color: $cyan;
      }
    }
  }

  .tab-content{
    @extend .buletin;
    border-left: 1px solid $silver;
    border-right: 1px solid $silver;
  }

  hr{
    margin: 2.1875em 0px 1.5em 0px;
  }
}
#learners-tab{
  .thumbnails{
    img{
      height: 100px;
    }
  }
}