.navbar{
  position: relative;
  z-index: 999;
  .navbar-inner{
    min-height: 85px;
    font-family: "arvo", Helvetica, sans-serif;
    padding-top: 35px;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    @include gradient-vertical($snow, $snow);

    border: 1px solid #dddddd;
    @include border-radius(4px);
    @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.065));

    a{
      &.brand{
        padding-top: 3px;
        margin-bottom: 20px;
        margin-right: 25px;
      }
    }
    .nav{
      margin-top: 0;
      li{
        padding-top: 10px;
        margin-right: 1.4375em;
        a{
          font-size: 1.25em;
          font-family: "arvo", Helvetica, sans-serif;
          line-height: 1em;
          padding: 0 15px 0 0;
          color: $cyan;
          &.active{
            color: $slate;
          }
          &:hover, .active:hover{
            color: $clemintine;
          }

        }
        & + li{
          margin-left: 1.625em;

          a{
            display: inline;
            border-left: 1px solid $slate;
            padding-left: 1.625em;
          }
          .navbar-custom-header-text{
            padding-left: 2.350em;
          }
        }
      }

      &.pull-right{
        li{
          margin-right: 0;
          & + li{
            padding-left: 0;
            margin-left: 0;
            a{
              padding-left: 0;border: none;
            }
          }
          &#user-dropdown{
            margin-right: 0;
            .dropdown-menu{
              padding: 2px;
              li{
                padding: 0;
                > a{
                  display: block;
                  padding: 0 0 0 0.5em;
                  background-color: $white;
                  background-image: none;
                }
              }
            }
          }
        }
        a{
          line-height: 40px;
          font-size: 1em;
          color: $slate;
        }
      }
    }


    .navbar-custom-header-text {
      font-size: 0.875em;
      line-height: 1.57143em;
      line-height: 1em;
      margin-bottom: 0;
      color: #aab0bf;
      font-family: "sense", Helvetica, sans-serif;
    }
  }
}