.alert-error{
  background-color: $bloodRed;
  border-color: darken($bloodRed, 10%);
  color: $white;
  text-shadow: none;
}

.feedback-create-form{
  label[for^="id"]{
    margin-left: 0;
    padding: 5px;
    border-radius: 3px 3px 0 0;
    margin-bottom: -3px;
    @extend .alert;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 7px;
  }
  label[for$="good"]{
    @extend .alert-success;
  }
  #cke_id_good {
    border: 1px solid $dark-olive;
  }
  #cke_id_bad{
    border: 1px solid $blood-orange;
  }
  label[for$="ugly"]{
    @extend .alert-error;
  }
  #cke_id_ugly {
    border: 1px solid #af1c00;
  }
}

.project-view{
  .project-info{
    img{
      float: left;
      margin: 0 15px 35px 0;
    }
    dt i[class^="icon"] {
      margin-right: 5px;
      font-weight: bold;
      font-size: 1.2em;
      text-shadow: gray 1px 1px;
    }
  }

  .feedback{
    .thumbnail{
      display: inline;
      max-height: 100px;
      margin-left: 1.5em;
    }
    .feedback-head{
      h4{
        margin-left: -30px;
      }
    }
    .feedback-labels{
      float: none;
      margin-left: 5px;
      padding: 5px;
      display: inline;
    }
    .feedback-content{
      padding: 10px;
      border: 1px solid darken($silverLight, 5%);
      @include border-radius(5px);
      background-color: $silverLight;
      margin-left: 0;
      float: none;
      word-wrap: break-word;
      margin-bottom: 15px;
      &.content-green{
        border-color: $successBackground;
      }
      &.content-yellow{
        border-color: $warningBackground;
      }
      &.content-red{
        border-color: $bloodRed;
      }
      &.content-blue{
        border-color: $cleanBlue;
      }
    }

    .alert-revise{
      background-color: $cleanBlue;
      border-color: darken($cleanBlue, 10%);
      color: $white;
      text-shadow: none;
    }
  }
}

.project-feedback-form{
  .badge-and-feedback{
    .badge-list{
      float: left;
      margin-left: 0;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    margin-bottom: 15px;

    .feedback-already-given{

    }
    .no-feedback-yet{

    }
  }
  .control-group{
    label.alert{
      box-shadow: rgba(0, 0, 0, 0.40) 1px 1px 7px;
      & > div{
        box-shadow: rgba(0, 0, 0, 0.40) 1px 1px 7px;
      }
    }
  }
  .project-form-snippet{

    .custom-checkbox-label{
      margin-right: 10px;
      float: left;
    }
  }
  .control-group-label{
    margin-left: 0;
    padding-left: 0;
  }

  label{
    margin-bottom: -1px;
    float: none;
    margin-left: 5px;
    padding: 5px;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
  }
  .feedback-form-award-info{
    font-family: "arvo", Helvetica, sans-serif;
    text-shadow: 0 1px 0 #fff;
    font-size: 1.1em;
  }

}



/**
 * Checkbox Three
 */
.award-badge {
	width: 160px;
	height: 40px;
	background: #333;
	border-radius: 50px;
	position: relative;
    input[type=checkbox] {
      visibility: hidden;
    }
}

/**
 * Create the text for the On position
 */
.award-badge:before {
	content: 'Award';
	position: absolute;
	top: 10px;
	left: 13px;
	height: 2px;
	color: $cyan;
	font-size: 16px;
    font-family: "arvo", Helvetica, sans-serif;
    text-shadow: 0 1px 0 #fff;
    font-size: 0.72em;
}

/**
 * Create the label for the off position
 */
.award-badge:after {
	content: "Don't award";
	position: absolute;
	top: 10px;
	left: 80px;
	height: 2px;
	color: #ddd;
	font-size: 16px;
    font-family: "arvo", Helvetica, sans-serif;
    text-shadow: 0 1px 0 #fff;
    font-size: 0.72em;
}

/**
 * Create the pill to click
 */
.award-badge label {
	display: block;
	width: 75px;
	height: 30px;
	border-radius: 50px;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	z-index: 1;
	left: 4px;
	background: #ddd;
    padding: 0;
    margin-left: 0;
}

/**
 * Create the checkbox event for the label
 * @type {[type]}
 */
.award-badge input[type=checkbox]:checked + label {
	left: 78px;
	background: $cyan;
}
