.p2pu-project{
  padding-top: 15px;
  text-align: center;
  img{
    max-height: 172px;
  }

}
.project-form-snippet{
  margin-left: 0;
}
.project-summary{
  dl{
    &:first-child{
      margin-top: 0;
    }
  }
}