.alert-error{
  background-color: $bloodRed;
  border-color: darken($bloodRed, 10%);
  color: $white;
  text-shadow: none;
}

.project-view{
  .feedback{
    .thumbnail{
      display: inline;
      max-height: 100px;
      margin-left: 1.5em;
    }
    .feedback-head{
      h4{
        margin-left: -30px;
      }
    }
    .feedback-labels{
      float: none;
      margin-left: 5px;
      padding: 5px;
      display: inline;
    }
    .feedback-content{
      padding: 10px;
      border: 1px solid darken($silverLight, 5%);
      @include border-radius(5px);
      background-color: $silverLight;
      margin-left: 0;
      float: none;
      word-wrap: break-word;
      margin-bottom: 15px;
      &.content-green{
        border-color: $successBackground;
      }
      &.content-yellow{
        border-color: $warningBackground;
      }
      &.content-red{
        border-color: $bloodRed;
      }
      &.content-blue{
        border-color: $cleanBlue;
      }
    }

    .alert-revise{
      background-color: $cleanBlue;
      border-color: darken($cleanBlue, 10%);
      color: $white;
      text-shadow: none;
    }
  }
}

.project-feedback-form{
  .badge-and-feedback{
    .badge-list{
      float: left;
      margin-left: 0;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    margin-bottom: 15px;
    .previous-interactions{
      overflow: hidden;
      margin-left: 20px;
      height: 260px;
      dl h4{
        color: $dark-apricot;
      }
    }
    .feedback-already-given{

    }
    .no-feedback-yet{

    }
  }
  .control-group{
    label.alert{
      box-shadow: rgba(0, 0, 0, 0.40) 1px 1px 7px;
      & > div{
        box-shadow: rgba(0, 0, 0, 0.40) 1px 1px 7px;
      }
    }
  }
  .project-form-snippet{
    .squaredThree {
      width: 20px;
      margin: 20px auto;
      position: relative;
      padding: 0;
      margin: 0;
      float: left;
    }

    .squaredThree label {
      cursor: pointer;
      position: absolute;
      padding: 0;
      margin: 0;
      width: 25px;
      height: 25px;
      top: 0;
      border-radius: 4px;
      @include box-shadow(inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4));
      @include gradient-vertical($gray, $grayDarker);
      @include gradient-vertical($steel, darken($steel, 20%));

    }

    .squaredThree label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        content: '';
        position: absolute;
        width: 9px;
        height: 5px;
        background: transparent;
        top: 7px;
        left: 7px;
        border: 3px solid #fcfff4;
        border-top: none;
        border-right: none;
        @include rotate(-45deg);
    }

    .squaredThree label:hover::after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        opacity: 0.3;
    }

    .squaredThree input[type=checkbox]{
      visibility: hidden;
    }

    .squaredThree input[type=checkbox]:checked + label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }

    .squaredTwo {
      width: 28px;
      height: 28px;
      background: #fcfff4;
      float: left;
      background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );


      -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
      -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
      position: relative;
    }

    .squaredTwo label {
      cursor: pointer;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 4px;
      top: 4px;
      padding: 0;
      margin: 0;
      @include box-shadow(inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1));
      @include gradient-vertical($gray, $grayDarker);
    }

    .squaredTwo label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        content: '';
        position: absolute;
        width: 9px;
        height: 5px;
        background: transparent;
        top: 4px;
        left: 4px;
        border: 3px solid $white;
        border-top: none;
        border-right: none;
        @include rotate(-45deg);
    }

    .squaredTwo label:hover::after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        filter: alpha(opacity=70);
        opacity: 0.7;
    }
    .squaredTwo input[type=checkbox]{
      visibility: hidden;
    }
    .squaredTwo input[type=checkbox]:checked + label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }
    .custom-checkbox-label{
      margin-right: 10px;
      float: left;
    }
  }
  .control-group-label{
    margin-left: 0;
    padding-left: 0;
  }

  label{
    margin-bottom: -1px;
    float: none;
    margin-left: 5px;
    padding: 5px;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
  }


}

.feedback-give-revise{
  margin-top: 25px;
}

