@media all and (max-width: 996px) {
  body {
    padding-top: 0;
  }

// navigation
  .navbar {
    .navbar-inner {
      .nav li + li {
        a {
          border-left: none;
          padding-left: 0;
        }
        .navbar-custom-header-text {
          padding-left: 0;
        }
      }
    }
    .right-links {
      @extend .clearfix;
      li:first-child {
        float: left;
      }
      #user-dropdown {
        float: right;
        .dropdown-menu {
          min-width: 0;
        }
      }
    }
  }
  footer {
    .container {
      &:first-child {

      }
      &:last-child {

      }
    }
  }
  .badge-info {
    margin-left: 0;
    //margin-top: 80px;
  }
}

// Phones and tablets
@media (max-width: 979px) {
  body {
    padding: 0;
  }
  .wrap {
    padding: 0 20px;
  }
  .nav-collapse {
    .dropdown-menu {
      display: block !important;
      margin: 0;
    }
    .btn {
      width: 23px;
      height: 25px;
    }
    .nav {
      margin-top: 160px;
    }
  }

  .nav-collapse, .nav-collapse.collapse {
    height: 0 !important;
  }

  #main-menu-panel {
    zoom: 1;
    .sidr-class-nav {
      margin-bottom: 0;
      padding-top: 100px;
    }
    .sidr-class-dropdown-menu {
      position: absolute;
      width: 100%;
      top: 10px;
    }
    .sidr-class-search {
      border-radius: 50px;
      padding: 0 20px;
      color: $white;
      background-color: lighten(#4d4d4d, 10%);
    }
    [title="My dashboard"] {
      position: absolute;
      width: 83%;
      top: 50px;
      z-index: 10000;
      display: block;
      margin: 0;
      line-height: 48px;
      border-top: 1px solid #4d4d4d;
      border-bottom: 1px solid #1a1a1a;
      padding: 0 20px;
      margin-top: -1px;
      &:hover {
        border-top: none;
        line-height: 49px;
        @include box-shadow(inset 0 0 15px 3px #222);
      }
    }
    /*
    .btn-toolbar{
      float: left;
      margin-left: 10px !important;
      width: 100%;
      position: absolute;
      top: 10px;
      .btn-group{
        width: 93%;
        .navbar-search{
        margin-top: 55px;
        padding: 0;
        border: none;
        input{
          padding-right: 25px;
          height: 45px;
          font-size: 20px;
        }
        .clear-search{
          position: absolute;
          right: 5px;
          top: 15px;
          color: #ccc;
        }
      }
        > .btn:first-child{
          position: absolute;
          top: 0;
          right: 0;
        }
        > .btn:nth-child(2){
          position: absolute;
          top: 0;
          left: 45px;
          line-height: 28px;
        }
        > .btn:last-child{
          position: absolute;
          top: 0;
          left: 0;
          line-height: 28px;
        }
      }

    }
    li a {
      background: #3b3b3b;
      background: -o-linear-gradient(top, #3e3e3e, #383838);
      background: -ms-linear-gradient(top, #3e3e3e, #383838);
      background: -moz-linear-gradient(top, #3e3e3e, #383838);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3e3e3e), color-stop(1, #383838));
      background: -webkit-linear-gradient(#3e3e3e, #383838);
      background: linear-gradient(top, #3e3e3e, #383838);
      font-family: "museo-sans","Museo Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 300;
      font-weight: 700;
      display: block;
      padding: 0.5em 5%;
      border-top: 1px solid #484848;
      border-bottom: 1px solid #2e2e2e;
      text-decoration: none;
      text-shadow: 0 -1px 2px #222;
      color: #f7f7f7;
    }
    li a:active {
      background: #363636;
      background: -o-linear-gradient(top, #3e3e3e, #2e2e2e);
      background: -ms-linear-gradient(top, #3e3e3e, #2e2e2e);
      background: -moz-linear-gradient(top, #3e3e3e, #2e2e2e);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3e3e3e), color-stop(1, #2e2e2e));
      background: -webkit-linear-gradient(#3e3e3e, #2e2e2e);
      background: linear-gradient(top, #3e3e3e, #2e2e2e);
      -moz-box-shadow: 0 2px 7px #222 inset;
      -webkit-box-shadow: 0 2px 7px #222 inset;
      box-shadow: 0 2px 7px #222 inset;
      border-top-color: #222;
      padding-top: 0.55em;
      padding-bottom: 0.45em;
    }
    li a:hover, li a:focus {
      background: #404040;
      background: -o-linear-gradient(top, #484848, #383838);
      background: -ms-linear-gradient(top, #484848, #383838);
      background: -moz-linear-gradient(top, #484848, #383838);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #484848), color-stop(1, #383838));
      background: -webkit-linear-gradient(#484848, #383838);
      background: linear-gradient(top, #484848, #383838);
    }*/
  }
  .navbar-inner {
    position: relative;
  }
  .openbadges-insignia {
    position: absolute;
    right: 10px;
    top: -1px;
  }
  .p2pu-badge {
    .overflow-handle {
      height: 245px;
    }
  }

// Dashboard
  .dashboard-sidebar-img {
    width: 40px;
    height: 40px;
  }
  .dashboard-title {
    overflow: hidden;
    margin-bottom: 30px;
  }

// Browse all badges
  .browse-badges {
    .thumbnails > li {
      margin-left: 0px;
    }
    .row {
      margin-left: 0;
    }
  }
// Badge view
  .badge-info-horizontal-details {
    border-left: none !important;
    padding-left: 10px !important;
  }
  .badge-info-img {
    margin-right: 20px;
  }
  .badge-view-toolbar {
    position: absolute;
    bottom: 130px;
    > .btn {
      float: left;
      + .btn {
        margin-top: 0;
      }
    }
  }
  .badge-details {
    padding-bottom: 90px;
  }
  .badge-social .social-item {
    width: 105px;
  }

//Project view
  .project-view {
    .project-info {
      h3 {
        border-top: dotted 1px $slate;
        margin-top: 40px;
      }
      img {
        float: none !important;
      }
      dl {
        word-wrap: break-word;
      }
    }
  }
  .feedback-head {
    position: relative;
  }

  .feedback-img {
    position: absolute;
    top: 5px;
    z-index: 1021;
    left: 25px;
    margin-right: 0;
    img {
      width: 40px;
      height: 40px;
      margin-left: 0 !important;
    }
  }
  .feedback-improve {
    .feedback-img {
      right: 15px;
      width: 50px;
      left: initial;
    }
    .popover-title {
      text-align: right;
      padding-right: 70px;
      padding-left: 15px;
    }
  }
  .popover-title {
    padding-left: 70px;
    padding-bottom: 30px;
  }
  #project-create-form {
    margin-top: 30px;
    border-top: dotted 1px $slate;
    padding-top: 20px;
  }
  footer a {
    float: left;
    margin: 10px;
  }

}

// 10", 12" monitor
@media (min-width: 979px) and (max-width: 1200px) {
// Navbar buttons
  .navbar .btn-group .btn {
    padding: 5px 5px;
  }
  .popover {
    &.span8 {
      width: 620px !important;
    }
  }
// Badge View
  .badge-info-img {
    margin-right: 20px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    background-color: red;
  }
  [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .badge-info {
    margin-left: 0;
    margin-top: 80px;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

}

@media (min-width: 768px) and (max-width: 979px) {

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .project-view {
    .popover {
      //overflow: hidden;
    }
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  body {

  }
  .badge-info {
    margin-left: 0;
  }
  .badge-info-img {
    float: none !important;
    display: block;
    text-align: center;
  }
  .badge-info-horizontal-details {
    border-left: none !important;
    padding-left: 10px !important;
  }
  .badge-sharing {
    .btn-sharing-controls {
      margin-top: auto !important;
    }
    .social-item {
      float: left !important;
    }
  }
  .p2pu-project .p2pu-project-img-link {
    float: none;
  }

}