/*
 *
 * Additional variables that are needed for Badges project only
 *
 *
 *
 */
@import "../libs/p2pu-css-framework/p2pu/p2pu-override-variables";
$silverLight: #eeeeee;
$silverUltraLight: #dddddd;
$bloodRed: #E22400;
$cleanBlue: #256FCE;